.admin-panel{
	border:1px solid #999;
	border-radius:10px;
	position:fixed;
	left:30px;
	bottom:120px;
	opacity:0.3;
	padding:15px;
}

.admin-panel a {
	display:block;
	margin:5px 0;
}

.admin-panel:hover{
	opacity: 1;
}

a.edit, a.delete {
	display: none;
}
